/**{*/
/*    background-color: rgb(247, 247, 247)!important;*/
/*}*/
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


#roast-selection {
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey!important;
    opacity: 80%;
}

#roast-selection:hover {
    opacity: 100%;
}

#coffee-text {
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey!important;
    opacity: 80%;
}

#coffee-text:hover {
    opacity: 100%;
}


#submit-coffee {
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue!important;
    color: white;
}

.name {
    font-size: 2.5em;
    white-space: nowrap;
}

.small-name {
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 0px;
    align-self: flex-end;
    margin: 10px;
}

#new-coffee-roast{
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey!important;
    opacity: 80%;
}

#new-coffee-roast:hover {
    opacity: 100%;
}

#new-coffee-name{
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey!important;
    opacity: 80%;
}

#new-coffee-name:hover {
    opacity: 100%;
}

#new-coffee-button{
    width: 80%;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue!important;
    color: white;
}

#new-coffee-button:hover {
    color: saddlebrown;
}


.h3 {
    font-size: 2em;
    width: 100%;
}

.custom-coffee-header {

    margin-bottom: 1em;
    font-weight: lighter;
    width: 100%;
}

.coffee {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 4em;
    padding-left: 2em;

}

.coffee:hover {
    color: saddlebrown;
}

#coffees {
    width: 100%
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("images/output-onlinepngtools.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


img{
    position: relative;
    height: 5em;
    width: 5em;
    margin-right: 1em;
    margin-top: .5em;
}

.bg-coffee {
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: normal;
    font-family: cursive;
}

@media screen and (min-width: 1000px) {

    .media {
        display: flex;
        flex-wrap: wrap;
    }

}


/*@media screen and (min-width: 1300px) {*/
/*    html {*/
/*        width: 1300px!important;*/

/*    }*/
/*}*/
