table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


#roast-selection {
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}

#coffee-text {
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}

h2 {
    margin-bottom: 5em;
    margin-top: 5em;

}

#submit {
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue;
    color: white;
}

.name {
    font-size: 3em;
}

.small-name {
    font-size: 2em;
    font-weight: lighter;
}

#new-coffee-roast{
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}

#new-coffee-name{
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}
#new-coffee-button{
    width: 75%;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue;
    color: white;
}
