*{
    background-color: rgb(247, 247, 247)!important;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


#roast-selection {
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}

#coffee-text {
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}


#submit-coffee {
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue;
    color: white;
}

.name {
    font-size: 2.5em;

}

.small-name {
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 0px;
    align-self: flex-end;
    margin: 10px;
}

#new-coffee-roast{
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}

#new-coffee-name{
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: lightgrey;
}
#new-coffee-button{
    width: 20em;
    height: 2em;
    border-radius: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: none;
    background-color: cornflowerblue;
    color: white;
}

.h3 {
    font-size: 2em;
    width: 100%;
}

.custom-coffee-header {

    margin-bottom: 1.25em;
    margin-top: 1em;
    font-weight: lighter;
}

.coffee {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    height: 4em;
    padding-left: 2em;

}

#coffees {
    width: 100%
}

body, html {
    height: 100%;
}

.bg {
    /*background-image: url("images/images.jpeg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-coffee{
    /*background-image: url("images/191-1911977_coffee-png-transparent-images-milk-coffee-cup-png.png");*/
    /*height: 100%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

}
img{
    height: 2em;
    width: 2em;

}